@font-face {
  font-family: "ygo-sc";
  src: url("ygo-sc.woff2") format("woff2"),
  url("ygo-sc.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "ygo-atk-def";
  src: url("ygo-atk-def.woff2") format("woff2"),
  url("ygo-atk-def.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "ygo-link";
  src: url("ygo-link.woff2") format("woff2"),
  url("ygo-link.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "ygo-password";
  src: url("ygo-password.woff2") format("woff2"),
  url("ygo-password.woff") format("woff");
  font-display: swap;
}
